<ion-view view-title="Petición" name="menu-view" ng-init="init()" cache-view="false">
  <ion-header-bar class="app-icon-header">
    <button class="button button-icon icon ion-chevron-left custom-icon-white" ng-click="irAtras()"></button>
  </ion-header-bar>
  <ion-content style="background: url(img/login.png) center; background-size: cover;">
    <div class="padding-top hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
      </div>
    </div>
  <div class="container">
   <br>
   <br>
    <h1>Recuperar <a class="yellow-font">Datos</a></h1>
    <label class="item item-input custom-back-transparent center-control">
        <input class="input-register placeholder-registro" type="text" placeholder="Correo electrónico" spellcheck="false">
    </label>
    <br>
    <br>
    <br>
    <button class="gray-button center-control button button-block ion-ios-email icon-left custom-icon-yellow">
      <a class="gray-button-font">Enviar a Tu Correo</a>
    </button>
  </div>
</ion-content>
</ion-view>
